<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/hdsg.css" media="all" />
  <link rel="stylesheet" type="text/css" href="static/lib/font-awesome-4.3.0/css/font-awesome.css" media="all" />
	<link rel="stylesheet" type="text/css" href="static/lib/bootstrap-3.3.4-dist/css/bootstrap.css" media="all" />
	<link rel="stylesheet" type="text/css" href="static/lib/bootstrap-3.3.4-dist/css/bootstrap-theme.css" media="all" />
	<link rel="stylesheet" type="text/css" href="static/lib/bootstrap-3.3.4-dist/css/dashboard.css" media="all" />
</head>
<body ng-app="myApp" ng-controller="fileController as files">
<p></p>

<div class="nav">
<a ng-click="files.getParentDirectoryOfCurrentFiles()" href="">go up (../)</a>
</div>

<div class="filelist" >
	<table class="table table-bordered table-striped">
		<tr>
			<td>Name</td>
			<td>Type</td>
		</tr>
		<tr ng-repeat="file in files.files" class="file">
			<td ng-if="!file.is_dir">
				<a ng-href="{{ files.getURL(file.dir) }}">{{file.file_name}}</a>
			</td>
			<td ng-if="!file.is_dir">{{file.format_name || ""}}</td>
			<td ng-if="file.is_dir">
				<a href="" ng-click="files.getDirectory(file.dir)">{{file.file_name}}/</a>
			</td>
			<td ng-if="file.is_dir">Directory</td>
		</tr>
	</table>
</div>

<!--
<p>Current Path: {{=it.dir}}</p>

{{ if(it.dir != '/') { }}
<div class="nav">
<a href="viewfolder?f={{=it.parentdir}}">go up (../)</a>
</div>
{{ } }}

<div class="filelist" >
	{{ for(var name in it.files){ }}
	{{ file = it.files[name]; }}
	{{ basename = it.require('path').basename(name); }}
        {{ if (basename == '.DS_Store') continue; }}
	<div class="file">
		{{? file.is_dir}}
			<a href="viewfolder?f={{=name}}">{{=basename}}/</a>
		{{??}}
			<a href="playfile?f={{=name}}">{{=basename}}</a>
		{{?}}
		
		<<<div class="compatibility_data">
			{{ var util = it.require('util'); }}
			{{= util.inspect(file) }}
		</div>>>
	</div>
	{{ } }}
</div>
-->
	<script type="text/javascript" src="/static/underscore.js"></script>
  <script type="text/javascript" src="/static/lib/angularJS/angular.min.js"></script>
  <script type="text/javascript" src="/static/app.js"></script>
</body>
</html>
