<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/hdsg.css" media="all" />
  <script type="text/javascript" src="/static/underscore.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src="/static/app.js"></script>
</head>
<body ng-app="myApp" ng-controller="fileController as files">
<p></p>

<div class="nav">
<a ng-click="files.getParentDirectoryOfCurrentFiles()" href="">go up (../)</a>
</div>

<div class="filelist" >
	<div ng-repeat="(name, fileObj) in files.files" class="file">
			<a ng-if="!fileObj.is_dir" ng-href="{{ files.getURL(name) }}">{{name}}/</a>
			<a href="" ng-if="fileObj.is_dir" ng-click="files.getDirectory(name)">{{name}}/</a>
		
		<!--<div class="compatibility_data">
			{{ var util = it.require('util'); }}
			{{= util.inspect(file) }}
		</div>-->
		</div>
	</div>
</div>

<!--
<p>Current Path: {{=it.dir}}</p>

{{ if(it.dir != '/') { }}
<div class="nav">
<a href="viewfolder?f={{=it.parentdir}}">go up (../)</a>
</div>
{{ } }}

<div class="filelist" >
	{{ for(var name in it.files){ }}
	{{ file = it.files[name]; }}
	{{ basename = it.require('path').basename(name); }}
        {{ if (basename == '.DS_Store') continue; }}
	<div class="file">
		{{? file.is_dir}}
			<a href="viewfolder?f={{=name}}">{{=basename}}/</a>
		{{??}}
			<a href="playfile?f={{=name}}">{{=basename}}</a>
		{{?}}
		
		<<<div class="compatibility_data">
			{{ var util = it.require('util'); }}
			{{= util.inspect(file) }}
		</div>>>
	</div>
	{{ } }}
</div>
-->

</body>
</html>
